

#index {
  background-image: ;
  background-repeat: no-repeat;
}

#music {
  background-image: url(../images/musicnotes.jpg);
  width: 100%;
  background-repeat: no-repeat;
}

#about {
  background-image: ;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
}

#main-navbar {
  width: 100%;
  position: relative;
  background-color: #8B0000;
  overflow: hidden;
}

#main-navbar ul {
  margin: 0;
  padding: 0;
  position: relative;
  list-style-type: none;
}

#main-navbar ul li{
  list-style-type: none;
  display: inline-block;
}

#main-navbar ul li a{
  padding: 10px 20px;
  display: block;
  color: #fff;
  text-decoration: none;
  left: 50%;
}

#main-navbar ul li a:hover {
  background-color: #000;
  text-decoration: underline overline;
}

#nav-container {
  width: 100%;
  position: relative;
  text-align: center;
}

#current {
  text-decoration: underline overline;
}

#content {
  margin-left: 20%;
  margin-right: 20%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  background-color: #FAEBD7;
}