header {
  position: relative;
  background-color: DarkRed;
}

#main-navbar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  text-align: center;
}

#main-navbar ul li{
  display: block;
  float: left;
  left: 50%;
  right: 50%;
}

#main-navbar ul li a{
  padding: 10px 20px;
  display: block;
  color: #fff;
  text-decoration: none;  
}

#main-navbar ul li a:hover {
  background-color: #000;
  text-decoration: underline overline;
}

#nav-container {
  width: 100%;
  position: relative;
  text-align: center;
  background-color: darkred;
}

#current {
  text-decoration: underline overline;
}